*{
margin: 0;
padding: 0;
}

html, body{
background-color: #666666;
font-family: calibri;
width: 100%;
height: 100%;
background-size: cover;

}


/* all div (Notities & header boven) */


.clear {
clear: both;
}

.outside{
width: 100%;
margin: 0;
padding: 0;
background-color: #333333;
}

.all{
margin: 0;
padding: 0;
width: 100%;
height: 100%;
border-collapse: collapse;
background-color: #666666;
background-size: cover;
}

.all .home{
background-color: #666666;
}

.canvas {
min-height: 700px;
}



h2{
margin: 10px 0 0 30px;
padding: 0;
font-family: pacifico;
font-weight: normal;
font-size: 32px;
color: #eeeeee;
}

/* Sidebar */

.sidebar{
background-color: #333333;
width: 230px;
height: 100%;
float: left;
margin: 0;
padding: 0;
}

.sidebarleft ul{
list-style: none;
margin: 0;
padding: 0;
}

.sidebarleft li{
border-bottom: 2px solid #666666;
margin: 0;
padding: 0;
}

.sidebarleft li:last-child{
border-bottom: none;
}

.sidebarleft a,
.sidebarleft a:visited,
.sidebarleft a:active,
.sidebarleft a:hover{
display: block;
padding: 5px 0 5px 5px;
color: #cccccc;
text-decoration: none;
font-size: 28px;
}

.sidebarleft .emptylast{
padding-bottom: 275px;
border: none;
}

.sidebarleft input{
font-size: 18px;
border: 3px solid #cccccc;
margin: 10px;
}


/* Notities */

.bladernote{
margin: 30px 10px 10px 30px;
width: 250px;
height: 250px;
border-collapse: collapse;
display: inline-block;
font-size: 16px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.bladernote a,
.bladernote a:hover,
.bladernote a:active,
.bladernote a:visited{
text-decoration: none;
color: black;
}


.bladernote .titel{
font-size: 24px;
width: 250px;
padding: 1px 3px 0 3px;
color: black;
font-family: pacifico;
font-size: 18px;
}

.bladernote .titel img{
float: right;
}

.bladernote .omschrijving{
padding: 1px 3px 0 3px;
color: black;
font-family: blokletters balpen;
font-size: 12px;
}

.bladernote .foto{
text-align: center;
padding-top: 5px;
}

.bladernote .tags{
padding: 1px 3px 0 3px;
}



/* Kleur notities */
/* Groen */
.bladernote.groen{
background-color: #ccff66;
}

.titel.groen{
background-color: #99ff00;
}

/* Rood */
.bladernote.rood{
background-color: #ff6666;
}

.titel.rood{
background-color: #ff0000;
}

/* geel */
.bladernote.geel{
background-color: #ffff66;
}

.titel.geel{
background-color: #ffff00;
}

/* Blauw */
.bladernote.blauw{
background-color: #66ccff;
}

.titel.blauw{
background-color: #0099ff;
}

/* Oranje */
.bladernote.oranje{
background-color: #ffcc66;
}

.titel.oranje{
background-color: #ff9900;
}

/* Paars */
.bladernote.paars{
background-color: #cc99ff;
}

.titel.paars{
background-color: #cc66ff;
}

/* Roze */
.bladernote.roze{
background-color: #ff99ff;
}

.titel.roze{
background-color: #ff33ff;
}

/* Wit */
.bladernote.wit{
background-color: #ffffff;
}

.titel.wit{
background-color: #cccccc;
}



/* Einde kleuren */


/* header boven */

.header{
background-color: #333333;
padding: 0;
margin: 0;
height: 67px;
border-bottom: 2px solid: #666666;
position: relative;
}

.header .keep{
font-family: grand hotel;
background-color: black;
padding: 15px 11px 15px 11px;
color: red;
font-size: 38px;
text-decoration: none;
position: relative;
}

.header .toevoegen{
padding: 15px;
}

.search {
position: relative;
float: right;
margin: 15px;
}

.searchbox{
border: 1px solid black;
background-color: white;
padding: 0;
margin: 0;
}

.searchbox .searchbar{
height: 30px;
border: none;
background-color: white;
line-height: 1.5;
outline: none;
padding-left: 15px;
}

.searchbox .searchbutton,
.searchbox .searchbutton:hover,
.searchbox .searchbutton:active,
.searchbox .searchbutton:visited {
width: 24px;
height: 24px;
float: right;
margin-top: 4px;
margin-right: 2px;
outline: none;
}

.header a{
font-family: grand hotel;
font-weight: normal;
font-size: 28px;
color: #cccccc;
margin-right: 30px;
text-decoration: none;
}

/* footer */
.footer{
text-align: center;
font-family: grand hotel;
font-size: 28px;
background-color: black;
color: red;
}


/* notitie aanmaken layout beheernote.php */
.beheerlijst{
background-color: white;
}

.beheerlijst td,
.beheerlijst th{
padding: 3px 5px;
text-align: left;
}

.beheerfoto{
padding: 5px;
background-image: url(background/lightblue.png);
background-size: contain;
margin: 0 10px 10px 0;
float: left;
text-align: center;
}

.beheerfoto img{
display: block;
}

.beheerlijst input,
.beheerlijst textarea{
width: 400px;
}

.textarea{
height: 200px;
}

.checkbox{
width: auto;
}

input[type=button],
input[type=submit]{
width: auto;
}
/* einde layout beheer.php */